* {
    font-family: 'Comic Sans MS', 'sans-serif';
}

body,
html {
    height: 100%;
    margin-top: 30px;
}

h1 {
    font-size: 48px;
    background-color: #cd8d0e;
    color: white;
    padding: 1rem;
    text-align: center;
    text-shadow:
        0.07em 0.07em 0 black,
        -0.07em 0.07em 0 black,
        0.07em -0.07em 0 black,
        -0.07em -0.07em 0 black;
}

h2 {
    font-size: 36px;
    background-color: #795307FF;
    color: white;
    padding: 1rem;
    text-align: center;
    text-shadow:
        0.07em 0.07em 0 black,
        -0.07em 0.07em 0 black,
        0.07em -0.07em 0 black,
        -0.07em -0.07em 0 black;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-button {
    background-color: #cd8d0e;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;

}

.form-button:hover {
    background-color: #940404;
    text-decoration: underline;
    color: red;
    transition: color .3s ease;
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

/* Image Slider */

.cat-carousel {
    position: relative;
    overflow: hidden;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(245, 245, 245);
}


.cat-container {
    margin-left: 355px;
    height: 700px;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 1070px;
    background-color: rgb(245, 245, 245);
    ;
}

.cat-container::-webkit-scrollbar {
    display: none;
}

.cat-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 10px;
    margin-left: 10px;
}

.cat-image {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
}

.cat-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cat-name {
    font-size: 20px;
    height: 40px;
    padding-top: 5px;
    border-radius: 20px;
}

.arrow {
    width: auto;
    height: 30px;
}

.pre-btn,
.nxt-btn {
    margin-left: 300px;
    margin-right: 300px;
    border: none;
    height: 500px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    z-index: 8;
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
}

.pre-btn img,
.nxt-btn img {
    opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}

body,
html {
    height: 100%;
    margin: 0;
}
header {
    background-color: white;
    padding: 1rem;
    text-align: center;
    display:flex;
    justify-content: flex-end;
}
.search{
    background-color: transparent;
    border: .025rem solid var(white);
    border-radius: .5rem;
}
.search::placeholder {
    color: rgb(255, 255, 255);
}
.search:focus{
    outline: none;
}
main{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}
.adoption{
    width: 18rem;
    margin: 1rem;
    background-color: #cd8d0e;
    box-shadow: 0 4px 5px rgba(0,0,0,.2);
    position: relative;
    overflow: hidden;
    border-radius: 1rem;

}
.adoption img{
    width: 100%;
}
.adoption-description{
    background-color: #fff;
    padding: .5rem 1rem 1rem;
    letter-spacing: .5px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(0);
    transition: transform 0.3s ease-in;
}
.adoption:hover .adoption-description{
    transform: translateY(101%);

}

.adoption-info span {
    background-color: coral;
    padding:  .25 rem .5rem;
    border-radius: 3px;
    font-weight: bold;
}
h3{

    letter-spacing: .5px;
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    padding: 2rem;
}
h1 {
    font-family: 'Comic Sans MS', 'sans-serif';
    font-size: 48px;
    background-color: #cd8d0e;
    color: white;
    padding: 1rem;
    text-align: center;
    text-shadow:
        0.07em 0.07em 0 black,
        -0.07em 0.07em 0 black,
        0.07em -0.07em 0 black,
        -0.07em -0.07em 0 black;
}

h2 {
    font-family: 'Comic Sans MS', 'sans-serif';
    font-size: 36px;
    background-color: #795307FF;
    color: white;
    padding: 1rem;
    text-align: center;

    text-shadow:
        0.07em 0.07em 0 black,
        -0.07em 0.07em 0 black,
        0.07em -0.07em 0 black,
        -0.07em -0.07em 0 black;
}

.radio-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.radio-group p {
  margin-bottom: 10px;
}

.radio-group label {
  margin-left: 5px;
}