body,
html {
    height: 100%;
    margin: 0;
}

#logo {
    width: 600px;
    height: 200px;
    border-radius: 20px;
    object-fit:fill;
}

.hero-image {
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.progress-bar {
    background-color: #fff;
    height: 4px;
    width: 100%;
    animation: grow 10s linear infinite;
    transform-origin: left;
}

@keyframes grow {
    0% {
        transform: scaleX(0);
    }
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    font-size: 120%;
    transform: translate(-50%, -50%);
    color: white;

    text-shadow:
        0.07em 0.07em 0 black,
        -0.07em 0.07em 0 black,
        0.07em -0.07em 0 black,
        -0.07em -0.07em 0 black;
}

.hero-text button {
    font-size: 100%;
    font-family: Tahoma, sans-serif;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: rgb(255, 228, 0);
    background-color: #795307;
    text-align: center;
    cursor: pointer;
    text-shadow:
        0.07em 0.07em 0 black,
        -0.07em 0.07em 0 black,
        0.07em -0.07em 0 black,
        -0.07em -0.07em 0 black;
}

.hero-text button:hover {
    background-color: #cd8d0e;
    color: white;
    text-decoration: underline;
    color: red;
    transition: color .3s ease;
}

body {
    font-family: 'Comic Sans MS', 'sans-serif';
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}


h1 {
    font-family: 'Comic Sans MS', 'sans-serif';
    font-size: 48px;
    background-color: #cd8d0e;
    color: white;
    padding: 1rem;
    text-align: center;
    text-shadow:
        0.07em 0.07em 0 black,
        -0.07em 0.07em 0 black,
        0.07em -0.07em 0 black,
        -0.07em -0.07em 0 black;
}

h2 {
    font-family: 'Comic Sans MS', 'sans-serif';
    font-size: 36px;
    background-color: #795307FF;
    color: white;
    padding: 1rem;
    text-align: center;

    text-shadow:
        0.07em 0.07em 0 black,
        -0.07em 0.07em 0 black,
        0.07em -0.07em 0 black,
        -0.07em -0.07em 0 black;
}


header {
    background-color: #cd8d0e;
    color: white;
    padding: 1rem;
    text-align: center;
}


.radio-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.radio-group input[type="radio"] {
    margin-right: 5px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 10px 20px;
    font-family: 'Comic Sans MS';
    font-size: 20px;
}

nav ul li:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;

}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    color: red;
    transition: color .3s ease;

}

section {
    padding: 20px;
    margin: 20px 0;
}

.menu,
.about,
.reservation {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu table {
    width: 100%;
    border-collapse: collapse;
}

.menu th,
.menu td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.menu th {
    background-color: #f8f8f8;
}

.contact-form,
.reservation-form,
.survey-form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form input,
.reservation-form input,
.survey-form input,
.survey-form textarea,
.contact-form textarea,
.reservation-form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-button {
    background-color: #cd8d0e;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;

}

.form-button:hover {
    background-color: #940404;
    text-decoration: underline;
    color: red;
    transition: color .3s ease;
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

ul,
ol {
    margin: 20px 0;
    padding: 0;
}

ul li,
ol li {
    margin-bottom: 10px;
}

img {
    height: 500px;
    width: 500px;
    object-fit: cover;
    align-content: center;
    margin: 0 auto;
}

.carousel {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    align-content: center;
    height: 530px;
    width: 400px;
    overflow: hidden;
    margin: 0 auto;
    border: #940404;
    border-width: thick;
    border-style: groove;
}

.image-container {
    display: flex;
    align-content: center;
    transform: translateX(0px);
    transition: transform 0.5s ease-in-out;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

.image-row {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.image-row img {
    width: 150px;
    height: auto;
    border-radius: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.grid-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.grid-item:hover img {
    transform: scale(1.1);
}

.background {
    background-image: url(images/background.jpg);
    background-size: cover;
}

.container {
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}

svg {
    width: 30px;
}

.shop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
}

.icon-cart {
    position: relative;
}

.icon-cart:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.icon-cart span {
    position: absolute;
    background-color: #dc0000;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}

.title {
    font-size: 30px;
}

.listProduct .item img {
    width: 100%;
    filter: drop-shadow(0 10px 20px #0009);
}

.listProduct {
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.listProduct .item {
    background-color: #EEEEE6;
    padding: 40px;
    border-radius: 20px;
}

.listProduct .item:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.listProduct .item h2 {
    font-weight: 500;
    font-size: large;
}

.listProduct .item .price {
    letter-spacing: 7px;
    font-size: small;
}

.listProduct .item button {
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.listProduct .item button:hover {
    background-color: #cd8d0e;
}

.cartTab {
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}

body.showCart .cartTab {
    right: 0;
}

body.showCart .container {
    transform: translateX(-250px);
}

.cartTab h1 {
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.cartTab .btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartTab button {
    background-color: #E8BC0E;
    border: none;
    font-family: 'Comic Sans MS';
    font-size: 20px;
    cursor: pointer;
}

.cartTab .checkOut:hover {
    background-color: #e8bc0ece;
}


.cartTab .close {
    background-color: #eee;
}

.cartTab .close:hover {
    background-color: #eeeeeed5;
}

.listCart .item img {
    width: 100%;
}

.listCart .item {
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.listCart .quantity span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}

.listCart .quantity span:hover {
    background-color: #eeeeeed5;
}

.listCart .quantity span:nth-child(2) {
    background-color: transparent;
    color: #eee;
    cursor: auto;
}

.listCart .item:nth-child(even) {
    background-color: #eee1;
}

.listCart {
    overflow: auto;
}

.listCart::-webkit-scrollbar {
    width: 0;
}

/* Image Slider */

.cat-carousel {
    position: relative;
    overflow: hidden;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(245, 245, 245);
}


.cat-container {
    margin-left: 355px;
    height: 700px;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 1070px;
    background-color: rgb(245, 245, 245);
    ;
}

.cat-container::-webkit-scrollbar {
    display: none;
}

.cat-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 10px;
    margin-left: 10px;
}

.cat-image {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
}

.cat-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cat-name {
    font-size: 20px;
    height: 30px;
    padding-top: 5px;
    border-radius: 20px;
}

.arrow{
    width: auto;
    height: 30px;
}

.pre-btn,
.nxt-btn {
    margin-left: 300px;
    margin-right: 300px;
    border: none;
    height: 500px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    z-index: 8;
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
}

.pre-btn img,
.nxt-btn img {
    opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}

/* Sticky Nav */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    padding-bottom: 50px;
    padding-top: 110px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    max-height: 140px;
    padding-bottom: 50px;
}

.logo {
    all: unset;
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-left: -100px;
    margin-right: 400px;
    height: 80px;
    width: 100%;
}

.logo-img {
    width: 200px; 
    height: 100px;
    max-width: none; 
}

.nav {
    position: fixed;
    background-color: #cd8d0e;
    top: 0;
    left: 0;
    right: 0;
    transition: all .3s ease-in-out;
    z-index: 100;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    transition: all .3s ease-in-out;
}

.radio-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.radio-group input[type="radio"] {
    margin-right: 5px;
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
    transition: all .3s ease-in-out;
}

.nav.active {
    background-color: orange;
}

.nav.active a {
    background-color: #cd8d0e;

}

.nav .active .container {
    padding: 10px 0;
}

.nav a.current {
    color: red;
}

.nav a:hover {
    color: red;
    font-weight: bold;
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.hero {
    background-image: url("https://images.pexels.com/photos/15597164/pexels-photo-15597164/free-photo-of-a-cat-sitting-on-top-of-some-rocks.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
    pointer-events: none;
}

.hero h1 {
    all: unset;
    font-size: 46px;
    margin: -20px 0 20px;
}

.hero p{
    font-size: 20px;
    letter-spacing: 1px;
}

.hero-text-button {
    border: none;
    border-radius: 5px;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: rgb(215, 209, 209);

    text-align: center;
    cursor: pointer;
    z-index: 2;
    position: relative;
}

.hero-text-button:hover {
    background-color: #cd8d0e;
    color: white;
}