* {
    box-sizing: border-box;
    transition: all .3s ease;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    max-height: 120px;
    padding-bottom: 50px;
}

.logo {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -100px;
    margin-right: 400px;
    margin-top: 5px;
}

.logo-img {
    width: 200px;
    height: 100px;
    max-width: none;
}

.logo-img:hover {
    transform: scale(1.1);
}

.nav {
    position: fixed;
    background-color: #cd8d0e;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
}

.nav a {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
}

.nav a:hover {
    color: #ff1100;
    font-weight: bold;
}

.nav li:hover {
    transform: scale(1.1);
    text-decoration: underline;
    text-decoration-color: #ff1100;
}